<template>
  <div class="about">
    <h1>This is an about page</h1>
    <b-img v-bind:src="require('../assets/game04.jpg')"></b-img>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>
