<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="5000"
      controls
      background="#ababab"
      img-width="1200"
      img-height="400"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <b-carousel-slide
        img-src="https://picsum.photos/1200/400/?image=60"
      ></b-carousel-slide>
      <b-carousel-slide
      img-src="https://picsum.photos/1200/400/?image=20">
      </b-carousel-slide>
      <b-carousel-slide
        img-src="https://picsum.photos/1200/400/?image=40"
      ></b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  data() {
    return {
      slide: 0,
      sliding: null,
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },
  },
};
</script>
